body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    font-family: sans-serif;
    animation: color 5s ease-in-out infinite, 1s ease 0s 1 normal forwards;
    background: linear-gradient(45deg,#d8bc2d,#ffef0b,#f48e21,#e7ff0b);
}
@keyframes color{
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}
.content a:hover{
    background: #034e88;
    color: #fff;
}
.qcoin img{
    padding-left: 42%;
}
.abtqck{
    text-align: center;
    font-family: 'TF2 Build',sans-serif;
    font-size: 3vh;
}
.name{
    text-align: center;
    font-family: 'TF2 Build',sans-serif;
}
.buyitt a{
    text-decoration: none;
    background-color: black;
    color: rgb(243, 253, 170);
    border: 6px solid rgb(86, 86, 28);
    margin-left: 44%;
    font-size: 3vh;
    font-family: 'TF2 Build',sans-serif;
}